@mixin flexCenter ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color:$siteBackground;
  }
  
    .navLinkSection {
      width: 30vw;
      height: inherit;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .navLinkDiv {
      width: 33%;
      height: inherit;
      text-align: center;
      padding-top: 3vh;
      box-sizing: border-box;
      p {
        color: $highlightText;
        font-size: 2.5vh;
        transition: ease-in-out, 0.4s;
        margin: 0;
        padding: 1vw;
        &:hover {
            font-size: 3vh;
            cursor: pointer;
          }
      }
    }
  