@import "./variables";
@import "./navBar";
@import "./home";
@import "./about";
@import "./projects";


body {
    margin: 0;
    padding: 0;
    background-color:$siteBackground;
    overflow-x: hidden;
  }
  